
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaoLoi</title>
</head>
<body>
    <div style="color: red; font-size: 28px"> 
        Bạn không có quyền truy cập vào trang này.
    </div>

    <a href="~/SanPham/Index" style="font-size: 18px">Quay về trang chủ</a>
</body>
</html>
